<header class="navbar navbar-expand-lg navbar-light bg-light position-relative">
    <div class="container-fluid ">
        <a href="{% url "instagram:post_list"%}"><h1 style="font-size: 30px; color: black;" class="position-absolute start-50">Pirostagram</h1></a>
        <div>
          
            <div style="margin-right: 2rem; ">
                <a href="{% url 'instagram:post_create' %}" class="nav-link text-dark justify-content-end"><span>게시물 작성</span></a>
            </div>
         
        </div>
    </div>
</header>