{% extends 'instagram/base.html' %}

{% block content %}
<div class="d-flex justify-content-center " style="height: 100%; align-items: center;" >
   
                      
                <form action="" method="post" enctype="multipart/form-data" autocomplete="off" class="shadow p-3 mb-5 bg-body rounded">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        {{form.as_table}}
                    </table>
                    <input type="submit" value="Post" />
                </form>
          
        
    </div>
{%endblock%}