/*#선택자(selector)*/
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/*.은 class의미*/
#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  width: 300px;
  height: 73px;
  background-position: 0 -217px;
  display: inline-block;
  background-image: url(./sp_main_b46ce0.png);
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  /*background: url(./sp_main_...) 0 -230px no-repeat;*/
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 0;
  padding-top: 12;
  padding-bottom: 12;
  border: 2px solid #03cf5d;
  width: 520px;
  height: 49px;
  display: inline-block;
}
/*
자손을 선택할 때는
#header-search h1{

}
*/
