/*#선택자(selector)*/
* {
  box-sizing: border-box;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/*.은 class의미*/
#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  width: 198px;
  height: 48px;
  background-position: -4px -10px;
  display: inline-block;
  background-image: url(./sp_search.png);
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  /*background: url(./sp_main_...) 0 -230px no-repeat;*/
  vertical-align: middle;
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 0;
  padding-top: 12;
  padding-bottom: 12;
  border: 2px solid #03cf5d; /*hex 표기법*/
  width: 521px;
  height: 49px;
  display: inline-block;
  vertical-align: middle;
}
#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: middle;
}
#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: 0;
  padding: 0;
  background: #03cf5d;
}

#search-image {
  background-image: url(./sp_search.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block; /*inline은 가로세로 마음대로 조절힘듦*/
  margin: 14px;
}
/*
}
#header-search field button span{
  background: url(./sp_main_b46ce0.png);
}
*/
/*
자손을 선택할 때는
#header-search h1{

}
*/
