<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
    </script>
    
</head>

<body>
    <div>
        <h1>Idea List</h1>
        <h3>나의 아이디어를 잊지말고 기록해보세요</h3>
    </div>
    {% for idea in all_idea %}
    {% if idea.image %}
    <img src="{{idea.image.url}}" width="400" /><br />
    {%endif%}
   
    <a href="{% url "idea:idea_detail" idea.pk %}">
        <h3>{{idea.title}}</h3>
    </a>
    예상 개발 툴: {{idea.devtool}}<br />
    
    <h2 id="number{{idea.pk}}">{{idea.interest}}</h2>
    <div>
        <button class="increase{{idea.pk}}">+</button>
        <button class="decrease{{idea.pk}}">-</button>
    </div>


    <script>

        
     
         
      
        
        $(".increase{{idea.pk}}").click(function() {
            
            var pk=parseInt(($(this).attr('class')).split("e")[2],10);   //increase뒤의 숫자를 split
            var id_number="#number"+pk;
        
            var number= document.querySelector(id_number);
            
            var current = parseInt(number.textContent, 10);
            
            
            
            console.log(pk)
            $.ajax({
                type: "POST", 
                url: "{% url 'idea:idea_list' %}",  //interest로 연결해봤지만 404오류 뜸..
                data: {'pk':pk ,'interest':number.textContent,csrfmiddlewaretoken: '{{ csrf_token }}'},
                contentType: "application/json",
                success: function(response){
                    number.textContent = current + 1;

                },
            });
        });
    

        $(".decrease{{idea.pk}}").click(function() {
            
            var pk=parseInt(($(this).attr('class')).slice(8,),10);   //decrease뒤의 숫자를 split
            var id_number="#number"+pk;
        
            var number= document.querySelector(id_number);
            
            var current = parseInt(number.textContent, 10);
            
            
            
            console.log(pk)
            $.ajax({
                type: "POST", 
                url: "{% url 'idea:idea_list' %}",
                data: {'pk':pk ,'interest':number.textContent,csrfmiddlewaretoken: '{{ csrf_token }}'},
                contentType: "application/json",
                success: function(response){
                    number.textContent = current - 1;
                 

                },
            });
        });

    </script>
    {%endfor%}
    
</body>

</html>