<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Idea Detail</h1>
        <h3>아이디어 세부내용 페이지 입니다. 당신이 구현하려 한 아이디어들을 자세히 살펴보세요.</h3>
    </div>
    {% if idea.image %}
    <img src="{{idea.image.url}}"   width="800"/><br />
    {%endif%}
    {{idea.title}}<br />
    <div>1.아이디어 관심도:</div>
    {{idea.interest}}<br />
    {%if idea.devtool%}
    <div>2.예상 계발 툴:</div>
    <a href="{%url "devtool:devtool_detail" devtool.pk %}">{{idea.devtool}}<br/></a>
    {%endif%}
    <div>3.아이디어 설명:</div>
    {{idea.content}}<br />
    <a href="{%url "idea:idea_delete" idea.pk %}">삭제</a>
    <a href="{%url "idea:idea_list" %}">목록</a>
    <a href="{%url "idea:idea_update" idea.pk %}">수정</a>
</body>
</html>